<h3>新規投稿ページ</h3>

<%= form_for @tweet, html: { multipart: true } do |f| %>
  
  <%# --- 【追加】エラーメッセージの表示エリア --- %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation" style="color: red; border: 1px solid red; padding: 10px; margin-bottom: 20px;">
      <h4><%= @tweet.errors.count %>個のエラーが発生したため保存できませんでした:</h4>
      <ul>
        <% @tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%# ------------------------------------------ %>

<div class="field-container">
    
    <div class="field">
      <h5><%= f.label :"トレーニング名" %></h5>
      <%= f.text_area :genre, :size => "30x1.9" %>
    </div>

    <div class="field">
      <h5><%= f.label :"難易度" %></h5>
      <%= f.select :level, 
      [["みんなにおすすめ", "みんなにおすすめ"], 
      ["初心者向け", "初心者向け"], 
      ["中級者向け", "中級者向け"],
      ["上級者向け", "上級者向け"], ], include_blank: "選択して下さい" %>
    </div>

    <div class="field">
      <h5><%= f.label :"鍛えられる部位" %></h5>
      <%= f.text_area :part, :size => "30x1.9" %>
    </div>

    <div class="field">
      <h5><%= f.label :"器具" %></h5>
      <%= f.select :tool, 
      [["必要", "必要"], 
      ["不要", "不要"]], include_blank: "選択して下さい" %>
    </div>

    <div class="field">
      <h5><%= f.label :"必要なスペース" %></h5>
      <%= f.select :size, 
      [["大の字で寝れる", "大の字で寝れる"], 
      ["腕のみを広げて寝れる", "腕のみを広げて寝れる"], 
      ["縦にまっすぐ寝れる", "縦にまっすぐ寝れる"], 
      ["その場で立つ・しゃがむのみ", "その場で立つ・しゃがむのみ"]], include_blank: "選択して下さい" %>
    </div>

    <div class="field">
      <h5><%= f.label :"ジャンプ" %></h5>
      <%= f.select :jump, 
      [["あり", "あり"], 
      ["なし", "なし"]], include_blank: "選択して下さい" %>
    </div>

    <div class="field">
      <h5><%= f.label :"メモ" %></h5>
      <%= f.text_area :note, :size => "60x5" %>
    </div>

    <div class="field">
      <h5><%= f.label :"イメージ画像" %></h5>
      <%= f.file_field :image %>
    </div>
    
    <div class="field">
      <h5><%= f.label :"動画" %></h5>
      <%= f.file_field :video, accept: 'video/*' %>
    </div>

    <div class="field">
      <%= f.label :youtube_url %>
      <%= f.text_field :youtube_url, :size => 140 %>
    </div>

    <%= f.submit "投稿する" %>

  <% end %>

  <%= link_to "一覧に戻る",  tweets_path(anchor: "search")  %>

</div>
