
<div class="field-container">
<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <p><%= f.label :メール %></p>
    <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
  </div>

  <div class="field">
    <p><%= f.label :パスワード %></p>
    <% if @minimum_password_length %>
      <p><em>(<%= @minimum_password_length %> 字以上)</em></p>
    <% end %>
    <p><%= f.password_field :password, autocomplete: "new-password" %></p>
  </div>

  <div class="field">
    <p><%= f.label :確認用パスワード %></p>
    <p><%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
  </div>

  <div class="actions">
    <%= f.submit "この内容で登録する" %>
  </div>
<% end %>

<%= render "users/shared/links" %>

</div>
